@media (max-width: 1126px) {
    #body-wrap {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: auto;
        padding-left: 22.4%;
        padding-right: 17.8%;
        padding-top: 19.2%;
        padding-bottom: 18.8%;
    }
    
    /*#menu li {
        height: 49px;
        font-size: 1em;
        animation-duration: 0.3s;
        animation-name: menu-touchout;
    }
    
    #menu:hover li {
        height: 78px;
        animation-name: menu-touch;
        font-size: 2em;
    }
    
    #menu h1 {
        margin-bottom: 17px;
    }
    
    #menu:hover h1 {
        margin-bottom: 48px;
    }*/
}

@media (max-width: 500px) {
    #body-wrap {
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        padding-left: 11.2%;
        padding-right: 8.9%;
        padding-right: 17.8%;
        padding-top: 9.6%;
        padding-bottom: 9.4%;
    }
    body {
        font-size: 10pt;
        line-height: 16.8px;
    }
    h1 {
        font-size: 14.82pt;
        line-height: 34.32px;
    }
    #menu li {
        line-height: 30.42px;
    }
    #content h1 a {
        margin-right: 14.82px;
    }
}

@media only screen and (max-width: 300px) {
    #body-wrap {
        background-color: red;
    }
}
